@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik";
}
@media (max-width: 840px) {
  html {
    font-size: 50%;
  }
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin-top: 40px;
}

section.section-1 {
  margin-top: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
section.section-1 img {
  width: 40%;
  z-index: 10;
}
section.section-1 .img-back {
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 60%;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  background-color: hsl(231, 69%, 60%);
}
section.section-1 .section-1-info-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2rem;
}
section.section-1 .section-1-info-container h1 {
  font-size: 6rem;
}
section.section-1 .section-1-info-container p {
  width: 60%;
  font-size: 1.6rem;
}
section.section-1 .section-1-info-container div {
  display: flex;
  width: 100%;
}
section.section-1 .section-1-info-container div button {
  margin-right: 30px;
}

section.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
section.section-2 .section-2-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.7rem;
  width: 50%;
}
section.section-2 .section-2-info-container h2 {
  font-size: 3rem;
}
section.section-2 .section-2-info-container p {
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
}
section.section-2 .section-2-info-container .select-btns-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px hsl(229, 8%, 60%);
}
@media (max-width: 840px) {
  section.section-2 .section-2-info-container .select-btns-container {
    width: 100%;
  }
}
section.section-2 .section-2-info-container .select-btns-container button {
  padding: 1rem 2rem;
  border: none;
  background-color: white;
  color: hsl(229, 31%, 21%);
  border-bottom: solid 3px white;
  transition: color 0.15s, border-bottom 0.15s;
  cursor: pointer;
}
section.section-2 .section-2-info-container .select-btns-container button:hover {
  color: hsl(0, 94%, 66%);
  border-bottom: solid 3px hsl(0, 94%, 66%);
}

.features-slider {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.features-slider .features-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.features-slider .features-container img {
  width: 30%;
  z-index: 10;
}
.features-slider .features-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
  width: 40%;
  margin-left: 70px;
}
.features-slider .features-container div h3 {
  font-size: 2rem;
}
.features-slider .features-container div p {
  font-size: 1.6rem;
  width: 60%;
}
.features-slider .features-container .img-sec-back {
  position: absolute;
  z-index: 9;
  left: -70px;
  bottom: -30px;
  width: 30%;
  height: 80%;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: hsl(231, 69%, 60%);
}

section.section-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.section-3 .section-3-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  width: 50%;
}
section.section-3 .section-3-info-container h3 {
  font-size: 2rem;
}
section.section-3 .section-3-info-container p {
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
}
section.section-3 .all-extansions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
  width: 50%;
  height: 350px;
}
section.section-3 .all-extansions-container .extansion-container {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 21px -7px hsl(229, 8%, 60%);
  padding: 1.5rem;
  gap: 1.3rem;
}
section.section-3 .all-extansions-container .extansion-container img {
  width: 60%;
}
section.section-3 .all-extansions-container .extansion-container .dots {
  width: 110%;
}
section.section-3 .all-extansions-container .extansion-container button {
  width: 100%;
}
section.section-3 .all-extansions-container .extansion-1 {
  align-self: flex-start;
}
section.section-3 .all-extansions-container .extansion-2 {
  align-self: center;
}
section.section-3 .all-extansions-container .extansion-3 {
  align-self: flex-end;
}

section.section-4 {
  width: 100%;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.section-4 .section-4-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  width: 50%;
}
section.section-4 .section-4-info-container h3 {
  font-size: 2rem;
}
section.section-4 .section-4-info-container p {
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
}
section.section-4 .faq-container {
  width: 60%;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.section-4 .faq-container .question-box {
  width: 60%;
  border-top: solid 1px hsl(229, 8%, 60%);
}
section.section-4 .faq-container .question-box .answer {
  padding: 1.5rem;
  font-size: 1.5rem;
}
section.section-4 .faq-container .question {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
section.section-4 .faq-container .question p {
  font-size: 1.7rem;
}
section.section-4 .faq-container .question img {
  width: 25px;
}
section.section-4 .faq-container .last-question {
  border-bottom: solid 1px hsl(229, 8%, 60%);
}

.hidden,
.features-container.hidden {
  display: none;
}

section.section-5 {
  width: 100%;
  height: 300px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  background-color: hsl(231, 69%, 60%);
  color: white;
}
section.section-5 p {
  font-size: 1.5rem;
}
section.section-5 h3 {
  font-size: 3rem;
  text-align: center;
}
section.section-5 .input-container {
  width: 25%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
}
section.section-5 .input-container input {
  width: 60%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
}
section.section-5 .input-container button {
  width: 35%;
}

footer {
  width: 100%;
  padding: 3rem 2rem;
  background-color: hsl(229, 31%, 21%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-content-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
footer .footer-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
footer .footer-links-container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  font-size: 1.6rem;
}
footer .footer-links-container ul li {
  transition: color 0.15s;
}
footer .footer-links-container ul li:hover {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}
footer .footer-icons-container {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
footer .footer-icons-container path {
  transition: fill 0.15s;
}
footer .footer-icons-container svg:hover path {
  cursor: pointer;
  fill: hsl(0, 94%, 66%);
}

nav {
  position: absolute;
  top: 0;
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 15%;
}
nav div {
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav .nav-links {
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
nav .nav-links li {
  cursor: pointer;
  font-size: 1.3rem;
  color: hsl(229, 31%, 21%);
  transition: color 0.15s;
}
@media (max-width: 840px) {
  nav .nav-links li {
    text-align: center;
    color: white;
    border-top: solid 1px white;
    padding-top: 1.5rem;
  }
}
nav .nav-links li:hover {
  color: hsl(0, 94%, 66%);
}
nav .nav-links button {
  border: solid 1px hsl(0, 94%, 66%);
  border-radius: 10px;
  background-color: hsl(0, 94%, 66%);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}
@media (max-width: 840px) {
  nav .nav-links button {
    border: solid 1px white;
    background-color: hsl(229, 31%, 21%);
    color: white;
  }
}
nav .nav-links button:hover {
  background-color: white;
  border: solid 1px hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}
@media (max-width: 840px) {
  nav .nav-links button:hover {
    background-color: hsl(229, 31%, 21%);
    border: solid 1px hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
  }
}
@media (max-width: 840px) {
  nav .nav-links {
    display: none;
  }
}
nav .nav-btn {
  display: none;
  cursor: pointer;
  border: none;
  background-color: white;
  padding: 1rem;
}
@media (max-width: 840px) {
  nav .nav-btn {
    display: block;
  }
}
@media (max-width: 840px) {
  nav {
    flex-direction: column;
  }
}

.nav-bg {
  position: absolute;
  top: -30px;
  bottom: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: hsl(229, 31%, 21%);
  opacity: 0.8;
}
@media (min-width: 840px) {
  .nav-bg {
    display: none;
  }
}

.nav-btn.blue-background {
  background-color: hsl(229, 31%, 21%);
}

.nav-links.show {
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
@media (min-width: 840px) {
  .nav-links.show {
    flex-direction: row;
  }
}

.btn-red {
  text-align: center;
  font-size: 1.5rem;
  border: solid 1px hsl(0, 94%, 66%);
  border-radius: 10px;
  background-color: hsl(0, 94%, 66%);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.btn-red:hover {
  background-color: white;
  border: solid 1px hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}

.btn-blue {
  text-align: center;
  font-size: 1.5rem;
  border: solid 1px hsl(231, 69%, 60%);
  border-radius: 10px;
  background-color: hsl(231, 69%, 60%);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: white;
  border: solid 1px hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}

.btn-dark {
  text-align: center;
  font-size: 1.5rem;
  border: solid 1px hsl(229, 31%, 21%);
  border-radius: 10px;
  background-color: hsl(229, 31%, 21%);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: white;
  border: solid 1px hsl(229, 31%, 21%);
  color: hsl(229, 31%, 21%);
}

.arrow-spin {
  animation: spin 0.3s ease-in forwards;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
.arrow-spin-2 {
  animation: spin-2 0.3s ease-in forwards;
}

@keyframes spin-2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}/*# sourceMappingURL=main.css.map */