@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$colors: (
  softBlue: hsl(231, 69%, 60%),
  softRed: hsl(0, 94%, 66%),
  grayishBlue: hsl(229, 8%, 60%),
  veryDarkBlue: hsl(229, 31%, 21%),
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik';
}
body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.section-1 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;

  img {
    width: 50%;
    z-index: 10;
  }
  .img-back {
    position: absolute;
    z-index: 9;
    right: -20%;
    bottom: 0;
    width: 40%;
    height: 60%;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    background-color: color(softBlue);
  }
  .section-1-info-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 2rem;

    h1 {
      font-size: 6rem;
    }
    p {
      width: 60%;
      font-size: 1.6rem;
    }
    div {
      display: flex;
      justify-content: space-between;
      width: 45%;
    }
  }
}
section.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;

  .section-2-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.7rem;
    width: 50%;
    h2 {
      font-size: 3rem;
    }
    p {
      width: 60%;
      font-size: 1.6rem;
      text-align: center;
    }

    .select-btns-container {
      width: 70%;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px color(grayishBlue);
    }
    .select-btns-container button {
      padding: 1rem 2rem;
      border: none;
      background-color: white;
      color: color(veryDarkBlue);
      border-bottom: solid 3px white;
      transition: color 0.15s, border-bottom 0.15s;
      cursor: pointer;
    }
    .select-btns-container button:hover {
      color: color(softRed);
      border-bottom: solid 3px color(softRed);
    }
  }
}

.features-slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .features-container {
    width: 100%;
    flex: 0 0 auto;
    margin-top: 1.7rem;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 30%;
      z-index: 10;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.3rem;
      width: 40%;
      margin-left: 70px;

      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
        width: 60%;
      }
    }

    .img-sec-back {
      position: absolute;
      z-index: 9;
      left: -15%;
      bottom: 0px;
      width: 30%;
      height: 80%;
      border-top-right-radius: 150px;
      border-bottom-right-radius: 150px;
      background-color: color(softBlue);
    }
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 30px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;

    li {
      cursor: pointer;
      font-size: 1.3rem;
      color: color(veryDarkBlue);
      transition: color 0.15s;
    }
    li:hover {
      color: color(softRed);
    }
  }
}
.btn-red {
  border: solid 1px color(softRed);
  border-radius: 10px;
  background-color: color(softRed);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}
.btn-red:hover {
  background-color: white;
  border: solid 1px color(softRed);
  color: color(softRed);
}

.btn-blue {
  border: solid 1px color(softBlue);
  border-radius: 10px;
  background-color: color(softBlue);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: white;
  border: solid 1px color(softBlue);
  color: color(softBlue);
}

.btn-dark {
  border: solid 1px color(veryDarkBlue);
  border-radius: 10px;
  background-color: color(veryDarkBlue);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: white;
  border: solid 1px color(veryDarkBlue);
  color: color(veryDarkBlue);
}
