@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik";
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.section-1 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
section.section-1 img {
  width: 50%;
  z-index: 10;
}
section.section-1 .img-back {
  position: absolute;
  z-index: 9;
  right: -20%;
  bottom: 0;
  width: 40%;
  height: 60%;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  background-color: hsl(231, 69%, 60%);
}
section.section-1 .section-1-info-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}
section.section-1 .section-1-info-container h1 {
  font-size: 6rem;
}
section.section-1 .section-1-info-container p {
  width: 60%;
  font-size: 1.6rem;
}
section.section-1 .section-1-info-container div {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

section.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
section.section-2 .section-2-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.7rem;
  width: 50%;
}
section.section-2 .section-2-info-container h2 {
  font-size: 3rem;
}
section.section-2 .section-2-info-container p {
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
}
section.section-2 .section-2-info-container .select-btns-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px hsl(229, 8%, 60%);
}
section.section-2 .section-2-info-container .select-btns-container button {
  padding: 1rem 2rem;
  border: none;
  background-color: white;
  color: hsl(229, 31%, 21%);
  border-bottom: solid 3px white;
  transition: color 0.15s, border-bottom 0.15s;
  cursor: pointer;
}
section.section-2 .section-2-info-container .select-btns-container button:hover {
  color: hsl(0, 94%, 66%);
  border-bottom: solid 3px hsl(0, 94%, 66%);
}

.features-slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.features-slider .features-container {
  width: 100%;
  flex: 0 0 auto;
  margin-top: 1.7rem;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.features-slider .features-container img {
  width: 30%;
  z-index: 10;
}
.features-slider .features-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
  width: 40%;
  margin-left: 70px;
}
.features-slider .features-container div h3 {
  font-size: 2rem;
}
.features-slider .features-container div p {
  font-size: 1.6rem;
  width: 60%;
}
.features-slider .features-container .img-sec-back {
  position: absolute;
  z-index: 9;
  left: -70px;
  bottom: 0px;
  width: 30%;
  height: 80%;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: hsl(231, 69%, 60%);
}

section.section-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.section-3 .section-3-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  width: 50%;
}
section.section-3 .section-3-info-container h3 {
  font-size: 2rem;
}
section.section-3 .section-3-info-container p {
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
}
section.section-3 .all-extansions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
  width: 50%;
  height: 350px;
}
section.section-3 .all-extansions-container .extansion-container {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 21px -7px hsl(229, 8%, 60%);
  padding: 1.5rem;
  gap: 1.3rem;
}
section.section-3 .all-extansions-container .extansion-container .dots {
  width: 110%;
}
section.section-3 .all-extansions-container .extansion-1 {
  align-self: flex-start;
}
section.section-3 .all-extansions-container .extansion-2 {
  align-self: center;
}
section.section-3 .all-extansions-container .extansion-3 {
  align-self: flex-end;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 30px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
nav ul li {
  cursor: pointer;
  font-size: 1.3rem;
  color: hsl(229, 31%, 21%);
  transition: color 0.15s;
}
nav ul li:hover {
  color: hsl(0, 94%, 66%);
}

.btn-red {
  border: solid 1px hsl(0, 94%, 66%);
  border-radius: 10px;
  background-color: hsl(0, 94%, 66%);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.btn-red:hover {
  background-color: white;
  border: solid 1px hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}

.btn-blue {
  border: solid 1px hsl(231, 69%, 60%);
  border-radius: 10px;
  background-color: hsl(231, 69%, 60%);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: white;
  border: solid 1px hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}

.btn-dark {
  border: solid 1px hsl(229, 31%, 21%);
  border-radius: 10px;
  background-color: hsl(229, 31%, 21%);
  padding: 1rem 2rem;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: white;
  border: solid 1px hsl(229, 31%, 21%);
  color: hsl(229, 31%, 21%);
}/*# sourceMappingURL=main.css.map */